h1 {
color: black;
text-align: center;
	}

h2 {
align-content: center;
color: black;
margin-left: 200px;
margin-right: 200px;
background-color: lightgrey;
}

h3 {
align-content: center;
color: black;
margin-left: 200px;
margin-right: 200px;
background-color: lightgrey;
}


p {
	align-content: left;
    background-color: white;
    margin-top: 70px;
	margin-right:70px;
	margin-bottom: 70px;
	margin-left: 70px;
}

