*{
	outline: 1px solid red !important;
}
body {
	max-width: 100%;
	background-color: black;
	padding-top: 10px;
	}

.row {
	
}

.main-heading{
	text-align: center;
	margin-bottom: 20px;
	color: white;
	background-color: black;
	padding-top: 10px;
}

.array{
	padding-top: 20px;

}
.tile-one{
	text-align: center;
	background-color: black;
	padding-top: 10px;
}
.tile-two{
	text-align: center;
	background-color: black;
	padding-top: 10px;
}

.tile-three{
	text-align: center;
	background-color: black;
	padding-top: 10px;
}

.main-heading{
	font-family: 'Inknut Antiqua', serif;
	font-size: 300%;

}

.label{
	font-family: serif;
	background-color: black;
	color: white;
	font-size: 200%;
	font-style: italic;

}
.label-text{
	font-family: serif;
	background-color: black;
	color: white;
	font-size: 100%;
	text-align: left;
		
}

.thumbnail{

}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}