*{
	outline: 1px solid red !important;
}
body {
	max-width: 100%;
	background-color: black;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.Heading {
	background-color: white;
	text-align: center;
	max-width: 100%;
}

.Subheading {
	background-color: white;
	text-align: center;
	max-width: 75%;
	margin-left: 12.5%;
	margin-top: 20px;
}

.Array {
	color: black;
	text-align: center;
	background-color: white;
	max-width: 100%;
	margin-top: 20px;
}

.Tile {
	color: black;
	text-align: center;
	background-color: white;
	max-width: 30%;
	max-height: 500px;
	margin-left: 1%;
	margin-top: 20px;
	
}
.Image {
	color: black;

	text-align: center;
	max-height: 450px;
	max-width: 80%;
	margin-left: 10%;
}

.Label {
	color: black;
	text-align: center;
}